.navlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #46008b;
  display: flex;
  font-family: sans-serif;
  
 
}

.navbar ul li a {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  
}

.navlinks ul li a:hover {
  background-color: #623094;
}

.navcontent img{
  width: 10.5%;
  height:auto
}

.navbar h2{
  color: #ffffff;
}

.navcontent{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0%;
}

.aboutcontent img {
  width: 100%;
}

.infocontent1 img {
  width: 30%;
}


h1 {
  text-align: center;
  color: #ffffff;
  background-color: #240046;
  font-family: sans-serif;
  padding: 15px;

}

h2 {
  text-align: center;
  font-family: sans-serif;
  color:#ffffff;
  background-color: #6d00cc;
  border-style: solid;
  border-width: 10%;
  border-color: #46008b;
  padding: 10px;


 
}

.infocontent1 {
  display: flex;
  flex-direction: row;
}

.text {
  padding: 2%;
}

.eventscontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  
}

.eventscontent h2{
  padding: 15px;
  
}
.eventscontent2 img {
  width: 30%;
}

.eventscontent2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.eventscontent3 {
  display: flex;
  flex-direction: row;
}

.eventscontent3 img {

  width: 30%;
}

.infocontent2 {
  display: flex;
  flex-direction: row;

}

.infocontent2 img {
  width: 10%;
}


.big-container {
  display: flex;
  flex-direction: row;
  
}
.awards-container {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  
}
.awards-row {
  display: flex;
  flex-direction: row;
  padding-left: 2%;
}


.awards img {
  width: 90%;
}

.past-winners img {
  width: 85%;
}

.past-winners{
  padding-left: 15%;
  
}

body{
  background-color: #ece3ff;
}

h3{
  color: #ffffff;
  font-family: sans-serif;
}

p{font-family: sans-serif;
  color: #240046;
}

.indexheading h2{
  margin: 1% 40%;

}

.infoheading h2{
  margin: 1% 40%;
}

.eventsheading h2{
  margin: 1% 30%;
}

.compheading h2{
  margin: 0% 10%;
}