.navlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
 
}

.navbar ul li a {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navlinks ul li a:hover {
  background-color: #661616;
}

.aboutcontent img {
  width: 100%;
}

.infocontent1 img {
  width: 30%;
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.infocontent1 {
  display: flex;
  flex-direction: row;
}

.text {
  padding: 2%;
}

.eventscontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.eventscontent2 img {
  width: 30%;
}

.eventscontent2 {
  display: flex;
  flex-direction: row;
}

.eventscontent3 {
  display: flex;
  flex-direction: row;
}

.eventscontent3 img {

  width: 30%;
}

.infocontent2 {
  display: flex;
  flex-direction: row;

}

.infocontent2 img {
  width: 10%;
}

.compcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.photosone{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.award img{
  width: 20%;
}

.awardtext {
  display: flex;
  flex-direction: row;
}


.photostwo{
  display: flex;
  flex-direction: row;
}


.winners img{

  width: 50%
}

.winners {

  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar img{
  width: 10%
}

.navcontent{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}